.searchBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 38px;
    padding: 0 15px;
    border-radius: 50px;
    background-color: var(--color-12);
    color: var(--color-13);
    width: 380px;
    max-width: 380px;
    margin-top: 1rem;
}

.input_search {
    background-color: transparent;
    width: 100%;
    font-size: .9rem;
    color: var(--color-5);
    border: none;
    outline: none;
    font-family: 'vazir';
}

.input_search::placeholder {
    font-size: .9rem;
    color: var(--color-13);
    font-family: 'vazir';
}

.wrap_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

@media (max-width:600px) {
    .searchBox {
        max-width: 100%;
    }
}