.toast_container {
    position: fixed;
    bottom: 25px;
    right: 30px;
    padding: 10px 10px 30px 20px;
    border-radius: 5px;
    min-width: 400px;
    z-index: 9999;
    overflow: hidden;
    transform: translateY(calc(100% + 30px));
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.25, 1.35);
    opacity: .5;
}

.toast_container_right {
    direction: rtl;
    position: fixed;
    bottom: 25px;
    left: 30px;
    padding: 10px 10px 30px 20px;
    border-radius: 5px;
    min-width: 400px;
    z-index: 9999;
    overflow: hidden;
    transform: translateY(calc(100% + 30px));
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.25, 1.35);
    opacity: .5;
    color: #fff;
}

.error_color {
    background: linear-gradient(to right, #cc0000, #1a1a1a81);
}

.warning_color {
    background: linear-gradient(to right, #ff8800, #1a1a1a81);
}

.success_color {
    background: linear-gradient(to right, #007e33, #1a1a1a81);
}

.toast_container_active {
    transform: translateY(0);
    opacity: 1;
}

/* Toast Header */
.toast_header {
    display: flex;
    justify-content: end;
    color: #fff;
    margin-bottom: 0.5rem;
}

.close_icon {
    cursor: pointer;
}

/* Toast Content */
.toast_content {
    display: flex;
    align-items: start;
}

.done_icon,
.error_icon,
.warning_icon {
    color: #fff;
    margin: 0 20px;
}

/* Toast Texts */
.toast_texts {
    color: #fff;
    padding-right: 30px;
}

.toast_texts_right {
    padding-right: 0;
    padding-left: 30px;
    color: #fff;
}

.toast_title {
    font-size: calc(1.3rem + 0.1vw);
}

.toast_text {
    margin-top: 0.7rem;
    font-size: 0.9rem;
}


@media (max-width:600px) {
    .toast_container {
        width: 85%;
        min-width: auto;
        transform: translateY(calc(100% + 30px));
        right: auto;
        opacity: 0;
    }

    .toast_container_right {
        width: 85%;
        min-width: auto;
        transform: translateY(calc(100% + 30px));
        opacity: 0;
        right: none;
        left: auto;
    }

    .toast_container_active {
        transform: translateY(0);
        opacity: 1;
        left: 50%;
        transform: translateX(-50%);
    }

    .toast_texts {
        padding-right: 10px;
        line-height: 1.1rem;
    }

    .toast_texts_right {
        padding-left: 10px;
    }
}