.wrapper {
    margin: 20px 20px 0 20px;
    height: 100%;
}

.setting_wrapper {
    height: 100%;
    overflow: hidden;
}

.record_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-5);
    margin-bottom: 7px;
    background-color: var(--color-14);
    transition: all .3s ease;
}

.record_item {
    background-color: var(--color-14);
    padding: 8px 16px;
    margin-bottom: 7px;
    color: var(--color-5);
    cursor: pointer;
    transition: all .3s ease;
}


.hover_class:hover {
    background-color: var(--color-3);
}

.item_setting {
    color: var(--color-5);
    margin-top: 1rem;
    transition: all .3s ease;
}

.title_Tab {
    margin-top: 1rem;
    padding: 0 20px;
    font-weight: bold;
    color: var(--color-5);
    margin-bottom: 2rem;
}

.active_Tab {
    background: var(--color-3);
}



@media (max-width:900px) {
    /* .setting_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } */
}