.icon,
.icon2 {
    z-index: 11;
}

.icon2 {
    font-size: 1.5rem;
}


.button,
.button2 {
    position: relative !important;
    overflow: hidden;
}

.text_btn {
    position: relative;
    z-index: 11;
}

.button::before {
    content: '';
    position: absolute;
    width: 400px;
    height: 250px;
    background-color: var(--color-6);
    border-radius: 50%;
    top: 11px;
    right: -157px;
}

.backstyle::before {
    background-color: #000;
}


.button2::before {
    content: '';
    position: absolute;
    width: 56px;
    height: 43px;
    background-color: var(--color-6);
    border-radius: 50%;
    top: 15px;
    right: -15px;
}


.loader {
    width: 28px;
    height: 28px;
    border: 3.5px solid var(--color-5);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}