.wrapDropSearch {
    position: relative;
    width: 100%;
    margin: 0 auto;
    font-family: "vazir", sans-serif;
}

.dropsetting {
    max-width: 100%;
}

.dropimage {
    margin: 0;
}

.wrapInputData {
    position: relative;
    border: 1px solid var(--color-5);
    font-size: 0.9rem;
    border-radius: 8px;
    height: 53.6px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    transition: border-color 0.3s ease;
}

.wrapInputData.focused {
    border-width: 2px;
}

.floatingLabel {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    font-size: 0.9rem;
    color: var(--color-5);
    pointer-events: none;
    transition: all 0.3s ease;
}

.wrapInputData.focused .floatingLabel,
.wrapInputData:not(.focused) input:not(:placeholder-shown)+.floatingLabel {
    top: -2px;
    right: 12px;
    font-size: 0.75rem;
    background-color: var(--color-2);
    padding: 0 3px 0 5px;
    width: max-content;
}

.wrapInputData.focused .background,
.wrapInputData:not(.focused) input:not(:placeholder-shown)+.background {
    background-color: var(--color-1);
}

.dropdownMenu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--color-2);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-height: 200px;
    overflow-y: auto;
    margin-top: 8px;
}

.dropdownMenu::-webkit-scrollbar {
    width: 6px;
    border-radius: 10px;
}

.dropdownMenu::-webkit-scrollbar-thumb {
    background-color: var(--color-5);
    border-radius: 4px;
}

.dropdownMenu {
    scrollbar-width: thin;
    scrollbar-color: var(--color-5) var(--color-2);
}

.dropdownItem {
    padding: 10px 15px;
    font-size: 0.9rem;
    color: var(--color-5);
    cursor: pointer;
    transition: background-color 0.2s;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdownItem:hover {
    background-color: var(--color-10);
}

.noOptions {
    padding: 10px 15px;
    font-size: 0.9rem;
    color: var(--color-11);
    text-align: center;
}

.inputField {
    width: 100%;
    padding: 10px 15px;
    font-size: 1rem;
    border: none;
    background-color: transparent;
    outline: none;
    color: var(--color-5);
    caret-color: var(--color-5);
    font-family: "vazir";
}

.icon_edit {
    cursor: pointer;
}



@media (max-width:600px) {
    .wrapDropSearch {
        max-width: 100%;
    }
}