.content_right {}

.wrap_display {
    margin-top: 2rem;
}

.wrap_actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #fff;
    padding-top: 20px;
}

.left_sec {
    height: calc(100dvh - 100px);
    /* position: relative; */
}

.wrap_images {
    height: 100%;
    position: relative;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
}

.Preview_item {
    height: 100%;
}


.hidden {
    display: none;
}


.wrapper_arrow {
    position: absolute;
    display: flex;
    top: 50%;
    transform: translateY(-50%);
    justify-content: space-between;
    width: 100%;
}

.button_arrow {
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-color: var(--color-8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_arrow_right {
    margin-right: 10px;
}

.button_arrow_left {
    margin-left: 10px;
}


.arrow_icon {
    font-size: 1.5rem;
}

.image_archive {
    object-fit: cover;
}


@media (min-width: 900px) and (max-width: 1024px) {
    .Preview_item {
        height: calc(50% - 20px);
    }
}

@media (max-width:900px) {

    .left_sec {
        height: calc(100dvh - 56.8px);
        margin-bottom: 20px;
    }

    .wrap_images {
        height: 100%;
        padding-bottom: 200px;
    }

    .full_screen {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100dvh;
        z-index: 1000;
    }

    .Preview_item {
        height: calc(50dvh - 40px)
    }
}