.modal_container {
    position: fixed;
    width: 100%;
    min-height: 100vh;
    z-index: 9999999999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
    opacity: 0;
    visibility: hidden;
}


.showModal {
    opacity: 1;
    visibility: visible;
}

.modal_close {
    position: fixed;
    width: 100%;
    min-height: 100vh;
    z-index: 9999999999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.contant {
    padding: 20px;
    border-radius: 20px;
    background-color: var(--color-2);
    z-index: 999999999999999999;
    width: 35vw;
    position: relative;
}

.top_modal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-5);
    padding-bottom: 5px;
    color: #fff;
}

.bottom_modal {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.icon_close {
    cursor: pointer;
}


@media(max-width:1308px) {
    .contant {
        width: 40vw;
    }
}

@media(max-width:1024px) {
    .contant {
        width: 50vw;
    }
}

@media(max-width:900px) {
    .contant {
        width: 70vw;
    }
}

@media (max-width:800px) {
    .modal_container {
        backdrop-filter: blur(5px);
        background-color: #ffffff37;
    }

    .bottom_modal {
        max-height: 250px;
        overflow: auto;
    }
}

@media (max-width: 768px) {
    .contant {
        width: 80vw;
    }

    .bottom_modal {
        max-height: 400px;
        overflow: auto;
    }
}


@media (max-width: 600px) {

    .contant {
        width: 90vw;
    }

}