.modal_container {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
    opacity: 0;
    visibility: hidden;
}


.showModal {
    opacity: 1;
    visibility: visible;
}

.modal_close {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.contant {
    padding: 20px;
    border-radius: 20px;
    background-color: var(--color-2);
    z-index: 9999;
    width: 35vw;
}

.top_modal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-5);
    padding-bottom: 5px;
    color: #fff;
}

.bottom_modal {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon_close {
    cursor: pointer;
}

/* .bottom_modal{
    max-width: 470px;
    overflow-y: auto;
} */