.wrapInputData {
    position: relative;
    border: 1px solid #fff;
    font-size: 0.9rem;
    border-radius: 8px;
    height: 53.6px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    transition: border-color 0.3s ease;
}

.wrapInputData.focused {
    border-width: 2px;
}

.floatingLabel {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    font-size: 0.9rem;
    color: #fff;
    pointer-events: none;
    transition: all 0.3s ease;
}

.wrapInputData.focused .floatingLabel,
.wrapInputData:not(.focused) input:not(:placeholder-shown)+.floatingLabel {
    top: -2px;
    right: 12px;
    font-size: 0.75rem;
    background-color: var(--color-2);
    padding: 0 3px 0 5px;
    width: max-content;
}