.container {
    background-color: var(--color-2);
    padding: 0 5%;
    padding-top: 2rem;
    height: calc(100dvh - 100px);
    overflow-y: auto;
}

.archive {
    padding-top: 2rem;
}

.setting {
    padding-top: 0;
}

@media (max-width:900px) {
    .container {
        display: none
    }
}