.container {
    background-color: var(--color-2);
    padding: 0 5%;
    padding-top: 2rem;
    height: 100%;
}

.archive {
    padding-top: 2rem;
}

.setting {
    padding-top: 0;
}

@media (max-width:900px) {
    .container {
        display: none
    }

    ;
}