.camera_container {
    height: calc(100dvh - 100px);
    position: relative;
    transition: all 0.3s ease-in-out;

}



@media (max-width:900px) {
    .camera_container {
        height: calc(100dvh - 56.8px);
    }

}