.camera_container {
    height: 86dvh;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.full_screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    z-index: 1000;
}