.row_modal {
    margin-bottom: 1.2rem;
}

.wrap_btn {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.wrapdrop {
    margin-bottom: 2rem;
}

/* .icon_top_wrapper_left {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon_top_wrapper_left>img {
    width: 70%;
    height: 70%;
    object-fit: cover;
} */

.icon_top_wrapper_right {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 45px;
    width: 45px;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}


.icons_bottom_wrapper {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    z-index: 91;

}

.icon_camera,
.icon_refresh {
    cursor: pointer;
    color: #fff;
}

.wrap_camera {
    width: 30px;
    height: 30px;
    background-color: var(--color-4);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
}

.icon_camera {}

.icon_refresh {}

.wrap_save_icon {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.button_save {
    border: none;
    outline: none;
    background-color: transparent;
}

.btn_save_disable {
    cursor: not-allowed;
    opacity: .5;
}

.media_box {
    position: relative;
}

.wrap_get_media {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.media_box_wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
}

.media_preview {
    object-fit: cover;
    width: 100% !important;
    height: 100%;
    aspect-ratio: 4 / 3;
}

.container_bottom_modal {
    padding: 20px;
}

.wrap_actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.wrap_controls {
    display: flex;
    align-items: center;
    gap: 10px;
}

.wrap_icon_image {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: 5px;
}

.icon_image {
    font-size: 1.7rem;
}

@media (max-width:900px) {

    .wrap_get_media {
        overflow-x: auto;
        display: flex;
        flex-wrap: nowrap;
        gap: 16px;
        padding: 0 10px;
    }

    .wrap_media_item {
        flex: 0 0 auto;
        width: 50%;
    }

    .media_preview {
        object-fit: cover;
        width: 100% !important;
        height: auto !important;
    }

    .wrap_camera {
        width: 40px;
        height: 40px;
    }

    .right_section {
        display: none;
    }

    .icon {
        font-size: 2rem;
    }

    .icon_top_wrapper_right {
        display: flex;
    }
}



/* sx= {
         {
         overflowX: {
             xs: "auto", md: "visible"
         }

         ,
         // اسکرول افقی برای سایز کمتر از 900px
         display: "flex",
         flexWrap: {
             xs: "nowrap", md: "wrap"
         }

         ,
         // غیرفعال کردن پیچیدن المان‌ها در سایز کوچک
         gap: "16px",
         // فاصله بین تصاویر
     }
 } */




/* sx= {
           {

           flex: "0 0 auto",
           // اندازه ثابت برای هر آیتم
           width: {
               xs: "200px", md: "auto"
           }

           ,
           // عرض ثابت در سایز کوچک
           display: "flex",
           flexDirection: "column",
       }
   } */