.wrapper {
    margin: 20px 20px 0 20px;
    height: 100%;
}

.row_modal {
    margin-bottom: 1.2rem;
}

.wrap_btn {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.wrapdrop {
    margin-bottom: 2rem;
}

.icons_bottom_wrapper {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    z-index: 91;

}

.icon_camera,
.icon_refresh {
    cursor: pointer;
    color: var(--color-5);
}

.wrap_camera {
    width: 30px;
    height: 30px;
    background-color: var(--color-4);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
}

.icon_camera {}

.icon_refresh {}

.wrap_save_icon {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.button_save {
    border: none;
    outline: none;
    background-color: transparent;
}

.btn_save_disable {
    cursor: not-allowed;
    opacity: .5;
}

.media_box {
    position: relative;
}

.wrap_get_media {
    display: flex;
    flex-wrap: wrap;
}

.media_box_wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
}

.media_preview {
    object-fit: cover !important;
    width: 100% !important;
    height: 100% !important;
    aspect-ratio: 4 / 3 !important;
}

.wrap_actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.wrap_controls {
    display: flex;
    align-items: center;
    gap: 10px;
}

.wrap_icon_image {
    background-color: var(--color-5);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: 5px;
}

.icon_image {
    font-size: 1.7rem;
}

.wraparrowactions {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0 auto;
    width: max-content;
}

.image_archive_wrapper {
    height: 130px;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image_archive_box {
    position: relative;
    width: 140px;
    height: 130px;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
}

.image_archive_box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
}

.image_archive_box:hover::before {
    opacity: 1;
    visibility: visible;
    cursor: pointer;
}


.image_archive {
    object-fit: cover !important;
    width: 100% !important;
    height: 100% !important;
}

.image_archive>video {
    object-fit: cover !important;
    width: 100% !important;
    height: 100% !important;
}

.text_view {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    width: 100%;
    color: var(--color-5);
    transition: all .3s ease;
    font-size: .9rem;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.image_archive_box:hover .text_view {
    opacity: 1;
    visibility: visible;
}

.wrap_delete {
    display: flex;
    align-items: center;
    gap: 5px;
    width: max-content;
    border-bottom: 1px solid var(--color-9);
    color: var(--color-9);
    cursor: pointer;
}

.wrap_btn_actions {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 2rem;
    width: 70%;
}

.text_model {
    color: var(--color-5);
}

@media (max-width:900px) {

    .wrapper {
        margin: 0;
    }

    .wrap_get_media {
        overflow-x: auto;
        display: flex;
        flex-wrap: nowrap;
        gap: 16px;
        padding: 0 10px;
    }

    .wrap_media_item {
        flex: 0 0 auto;
        width: 50%;
    }

    .media_preview {
        object-fit: cover;
        width: 100% !important;
        height: auto !important;
    }

    .wrap_camera {
        width: 40px;
        height: 40px;
    }

    .right_section {
        display: none;
    }

    .icon {
        font-size: 2rem;
    }


}