* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: 'vazir';
    font-weight: 600;
    src: url('/fonts/Vazir-Bold.eot') format('eot'),
        url('/fonts/Vazir-Bold.woff') format('woff'),
        url('/fonts/Vazir-Bold.woff2') format('woff2'),
        url('/fonts/Vazir-Bold.ttf') format('ttf'),
}


@font-face {
    font-family: 'vazir';
    font-weight: 400;
    src: url('/fonts/Vazir-Regular.eot') format('eot'),
        url('/fonts/Vazir-Regular.woff') format('woff'),
        url('/fonts/Vazir-Regular.woff2') format('woff2'),
        url('/fonts/Vazir-Regular.ttf') format('ttf'),
}


:root {
    --color-1: #1b1b1b;
    --color-2: #2a2a2a;
    --color-3: #292d32;
    --color-4: #53a7f3;
    --color-5: #d9d9d9;
    --color-6: #5796e3;
    --color-7: #667085;
    --color-8: #535353;
    --radius-1: 8px;
}

html,
body {
    direction: rtl;
    font-family: 'vazir';
    font-weight: 400;
    background-color: #1b1b1b;
}


.container {
    direction: rtl;
    position: relative;
}

.wrapper {
    margin: 20px 20px 0 20px;
    height: 100%;
}

.title {
    font-weight: 600;
    font-size: 1rem;
    color: #fff;
}


.error {
    display: inline-block;
    color: #D32F2F;
    font-size: .85rem;
    margin-top: 5px;
    width: 100%
}

.list-offcanvas a.active {
    background-color: #535353;
}

.no-scrollbar {
    scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;

}

.animationcome {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInFromBottom .5s ease-in-out forwards;
}

@keyframes fadeInFromBottom {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.item-container-setting {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0 auto;
}

.wrap_row {
    margin-bottom: 2.3rem;
}

.wrap-buttom {
    max-width: 12%;
    margin-top: 3rem;
}


body::-webkit-scrollbar {
    display: none;
}