.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper_actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.wrap_btn_actions {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 2rem;
    width: 70%;
}

.text_model {
    color: #fff;
}