
.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper_actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.wrap_btn_actions {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 2rem;
    width: 70%;
}

.text_model {
    color: var(--color-5);
}



.wrap_loading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

.loading {
    width: 28px;
    height: 28px;
    border: 3.5px solid var(--color-4);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width:900px) {
    /* .container {
        padding: 20px;
    } */

    /* .wrapper {
        margin: 0;
    } */
}