.offcanvas_container {
    display: none;
}

.link_item {
    margin-bottom: 2rem;
}

.link_offcanvas {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: var(--color-5);
    width: 100%;
    padding: 7px 20px;
    position: relative;
}


.item_distance {
    justify-content: space-between;
}


.wrap_text_icon {
    display: flex;
    align-items: center;
    gap: 10px;
}

.image_profile {
    border-radius: 50%;
    object-fit: cover;
}

.icon_item {
    font-size: 2rem;
}

.active_route {
    background-color: var(--color-1);
}

.menu_icon{
    color: var(--color-5);
}

@media (max-width:900px) {
    .offcanvas_container {
        display: block;
    }
}