.title {
    color: var(--color-5);
    display: inline-block;
    margin-bottom: 1rem;
}


.item_toggle{
    color: var(--color-5);
    font-family: "vazir";
}


@media (max-width: 900px) {
    .wrap_row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

}