.title {
    color: #fff;
    display: inline-block;
    margin-bottom: 1rem;
}


@media (max-width: 900px) {
    .wrap_row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

}