.wrap_themes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: center; */
    gap: 4rem;
    padding: 0 10px;
}



@media (max-width:1244px) {
    .wrap_themes{
        justify-content: center;
    }
}