.wrap_preview {
    width: 100%;
    height: 100%;
    background-color: blue;
    position: relative;
}

.icon_top_wrapper_left {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
}

.icon_top_wrapper_left>img {
    width: 70%;
    height: 70%;
    object-fit: cover;
}

.icon_top_wrapper_right {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 45px;
    width: 45px;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 10000;
}

.full_screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background-color: blue;
}


@media (max-width:900px) {

    .full_screen {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100dvh;
        z-index: 1000;
        /* background-color: blue; */
    }

    .icon_top_wrapper_right {
        display: flex;
    }
}